<div class="game-board">
  <h4>
    Player name: <span class="info-text">{{ playerName }}</span>
  </h4>
  <button [disabled]="!bees().length" (click)="hitBee()">Hit Bee</button>

  <div>
    <div>
      Target Bee Type: <span class="info-text">@if (targetBee) { {{ targetBee.type }}} @else {N/A}</span>
    </div>
    <div>
      Damage: <span class="info-text">@if (targetBee) { {{ targetBee.damage }}} @else {N/A}</span>
    </div>
  </div>

  @if (bees().length) {
  <app-hive [bees]="bees()"></app-hive>
  }@else {
  <div class="message-container">
    <div>Game Over!</div>
    <button (click)="restart()">Restart</button>
  </div>

  }
</div>
